<ion-view view-title="Tips By Date">
    <ion-content class="padding tips-by-date-content">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list">

            <label class="item item-input item-select">
                <span class="input-label">
                    Select Date:
                </span>
                <select id="tipDateSelector" ng-model="selectedDate" ng-change="getTipsByDate()">
                    <option ng-selected="{{ selectedDate === tipsDate }}" ng-repeat="tipsDate in tipsDates" value="{{ tipsDate }}">{{ tipsDate }}</option>
                </select>
            </label>

        </div>
        <ion-list class="tips-by-date-items-wrapper">
            <ion-item item="item" ng-repeat="tip in tipsByDate">
                <div class="row tip-header">
                    <div class="col-xs-3 tip-start-time">{{ tip.startTime | date: 'HH:mm' }} </div>
                    <div class="col-xs-9 tip-competition-name">{{tip.competition.name}}</div>
                </div>
                <div class="row tip-home-team">
                    <div class="col-xs-3 tip-home-team-logo"><img src="{{tip.homeTeam.clubLogo.url}}" /></div>
                    <div class="col-xs-7 tip-home-team-name">{{tip.homeTeam.name}}</div>
                    <div class="col-xs-2 tip-home-team-goals">{{tip.homeTeamGoals}}</div>
                </div>
                <div class="row tip-guest-team">
                    <div class="col-xs-3 tip-guest-team-logo"><img src="{{tip.guestTeam.clubLogo.url}}" /></div>
                    <div class="col-xs-7 tip-guest-team-name">{{tip.guestTeam.name}}</div>
                    <div class="col-xs-2 tip-guest-team-goals">{{tip.guestTeamGoals}}</div>
                </div>
                <div class="row tip-footer tip-{{ tip.tipResult }}">
                    <div class="col-xs-3 tip-result-outcome">
                        <i class="ion-checkmark-circled"></i>
                        <i class="ion-close-circled"></i>
                    </div>
                    <div class="col-xs-7 tip-content">{{ tip.tipContent }}</div>
                    <div class="col-xs-2 tip-coeficient">{{ tip.coefficient }}</div>
                </div>
                <div class="row tip-status {{ tip.statusClass }}">
                    <div class="col-xs-12">{{ tip.status }}</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>